@page
@using ClassDemoKaffeWebApp.model;
@model ClassDemoKaffeWebApp.Pages.Kunder.IndexModel
@{
    ViewData["Title"] = "Kunder";
}

<h1 class="jumbotron">Vis Alle Kunder</h1>

<form method="post">
    Vil du oprette en ny kunde tryk på <input type="submit" value="Opret" class="btn btn-outline-primary" />
</form>

<p></p>
<form method="post" class="border border-success rounded">
    <input type="submit" asp-page-handler="Search" value="Søg" class="btn btn-outline-success" />
    Kunde Nummer <input type="number" asp-for="@Model.SearchNumber" />
    Kunde Navn <input type="text" asp-for="@Model.SearchName" />
    Kunde Tlf <input type="text" asp-for="@Model.SearchPhone" />
</form>
<p></p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Kunde Nummer</th>
            <th>Navn</th>
            <th>Telefon</th>
            <th>Firma</th>
            <th>Ranking</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Kunde k in Model.Kunder)
        {
            <tr>
                <td>@k.KundeNummer</td>
                <td>@k.Navn</td>
                <td>@k.Tlf</td>
                <td>@k.IsFirma</td>
                <td>@k.Ranking</td>
                <td><a asp-page="EditKunde" asp-route-nummer="@k.KundeNummer">Ændre</a></td>
                <td><a asp-page="DeleteKunde" asp-route-nummer="@k.KundeNummer">Slet</a></td>
            </tr>
        }
    </tbody>
</table>









