@page
@model ClassDemoKaffeWebApp.Pages.Kunder.NyKundeModel
@{
}
<h1>Opret en ny kunde</h1>


<form method="post">
    <div class="form-group>">
        <label>Kunde nummer</label><br />
        <input class="form-control" asp-for="@Model.NytKundeNummer" /><br />
        <label class="text text-danger">@Model.ErrorMessage</label><br />
        <br />

        <label>Kunde navn</label><br />
        <input class="form-control" asp-for="@Model.NytKundeNavn" /><br />
        <span asp-validation-for="@Model.NytKundeNavn" class="text-danger"></span><br/>
        <br />

        <label>Kunde telefon</label><br />
        <input class="form-control" asp-for="@Model.NytKundetlf" /><br />

        <label>Kunde er Firma</label><br />
        <input Type="checkbox"  asp-for="@Model.NytErFirma" /> Er Firma<br />


        <label>Kunde Ranking</label><br />
        <input class="form-control" asp-for="@Model.NytRanking" /><br />


        <input type="submit" value="Opret Ny Kunde" class="btn btn-success"/>
        <input type="submit" value="Fortryd" class="btn btn-danger" asp-page-handler="Cancel" />
    </div>
</form>
